.image-house-detail {
  width: 450px;
   height:400px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 150px; 
 //   background-color: #f8f9fa; 
 //   border: 1px dashed #ced4da; 
 }