.btn-social {
    border: none;
}

.btn-google {
    margin-left: 80%;
}

.btn-facebook {
    margin-right: 80%;
}

.error-message {
    font-size: 0.7rem; 
    color: #e74c3c; 
    height: 1rem; 
    margin-top: 0.25rem; 
  }
  